@charset "UTF-8";

/* ===== Scrollbar Styles ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 16px;
}

*::-webkit-scrollbar-track {
	background: var(--scrollbar-track);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb);
	border-radius: 10px;
	border: 3px solid #ffffff;
}

/* ===== Default Styles ===== */
:root {
	--scrollbar-thumb: var(--pc);
	--scrollbar-track: var(--sc);
	--scrollbar-margin: 0;
	--pc: #e0e0e0;
	--pc-2: #dddddd;
	--sc: #1b1b23;
	--sc-2: #181820;
	--c1: #4285f4;
	--c2: #ff0f0f;
	--c3: #ffa500;
	--c4: #e8e800;
	--c5: #00d400;
	--c6: #bf00bf;
	--c7: #ffc0cb;
	--theme-dark: #89aaf7;
	--theme-light: #551a8b;
}

* {
	font-family: "Roboto", sans-serif;
}

/* ===== Custom Styles ===== */
html,
body {
	max-height: 600px;
}

input {
	color: var(--sc);
}

#overlay {
	background-color: rgba(27, 27, 35, 0.7);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 20;
	width: 100%;
	height: 100%;
}

.divider {
	background-color: var(--pc);
	width: 100%;
	height: 2px;
}

.dark-theme {
	background-color: var(--sc);
	color: var(--pc);
}

.light-theme {
	background-color: #ffffff;
	color: var(--sc);
}

.dark-theme-anchor {
	color: var(--theme-dark);
}

.light-theme-anchor {
	color: var(--theme-light);
}

.data-row-info {
	display: flex;
	align-items: center;
	column-gap: 0.75rem;
}

.dark-theme .button-border {
	border: 1px solid var(--pc);
}

.light-theme .button-border {
	border: 1px solid var(--sc);
}

.color-options {
	width: 1.25rem;
	height: 1.25rem;
}

.overflow-info {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.scrollbar-margin {
	margin-right: var(--scrollbar-margin);
}

.icon {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80%;
	cursor: pointer;
}

.icon.dark-theme {
	background-color: var(--sc-2);
}

.icon.light-theme {
	background-color: var(--pc-2);
}

.icon.default-icon,
.icon:hover {
	background-color: var(--theme-dark);
	background-image: url("../images/close.png") !important;
	background-size: 75%;
}

.btn-volume {
	background-image: url("../images/volume_unmuted.png") !important;
}

.btn-volume.volume-muted {
	background-image: url("../images/volume_muted.png") !important;
}

body[data-theme="dark"] .color-inverter {
	filter: invert(100%);
}
