@charset "UTF-8";

* {
	font-family: "Roboto", sans-serif;
}

:root {
	--p1: #e0e0e0;
	--p2: #dddddd;
	--s1: #1b1b23;
	--s2: #404044;
	--c1: #dadce0;
	--c2: #8ab4f8;
	--c3: #f28b82;
	--c4: #fdd663;
	--c5: #81c995;
	--c6: #ff8bcb;
	--c7: #c58af9;
	--c8: #78d9ec;
	--c9: #fcad70;
	--t1: #638ef0;
	--t2: #551a8b;
}

body[data-theme="dark"] {
	--c1: #afb1b6 !important;
	--c2: #4285f4 !important;
	--c3: #ff0f0f !important;
	--c4: #e8e800 !important;
	--c5: #00d400 !important;
	--c6: #ffc0cb !important;
	--c7: #bf00bf !important;
	--c8: #45c5df !important;
	--c9: #ffa500 !important;
}

body[data-theme="dark"] .color-inverter {
	filter: invert(100%);
}

input[type="checkbox"],
input[type="radio"] {
	margin-bottom: 2px;
	width: 16px;
	height: 16px;
}

#modal_overlay {
	background-color: rgba(27, 27, 35, 0.7);
}

.dark-theme,
[data-theme="dark"] .adaptive-theme,
[data-theme="light"] .divider {
	background-color: var(--s1);
	color: var(--p1);
}

.light-theme,
[data-theme="light"] .adaptive-theme,
[data-theme="dark"] .divider {
	background-color: #ffffff;
	color: var(--s1);
}

[data-theme="dark"] .adaptive-anchor {
	color: var(--t1);
}

[data-theme="light"] .adaptive-anchor {
	color: var(--t2);
}

[data-theme="dark"] .adaptive-background {
	background-color: var(--s2);
}

[data-theme="light"] .adaptive-background {
	background-color: var(--p2);
}

[data-theme="dark"] .adaptive-border,
[data-theme="dark"] .adaptive-button:hover,
[data-theme="dark"] .adaptive-button:focus-visible {
	border: 1px solid var(--p1);
}

[data-theme="light"] .adaptive-border,
[data-theme="light"] .adaptive-button:hover,
[data-theme="light"] .adaptive-button:focus-visible {
	border: 1px solid var(--s1);
}

.adaptive-button:hover,
.adaptive-button:focus-visible {
	outline-width: 0;
}

.dark-scrollbar-style {
	scrollbar-color: var(--p2) var(--s2);
}

.light-scrollbar-style {
	scrollbar-color: var(--s2) var(--p2);
}

.overflow-info {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.url-icon {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 70%;
}

.url-icon.default-url-icon {
	background-image: url("../images/information.png") !important;
}

.url-icon:hover,
.url-icon:focus-visible {
	background-image: url("../images/close.png") !important;
}

.default-background-color,
.url-icon:hover,
.url-icon:focus-visible {
	background-color: var(--t1);
}

.alternative-background-color {
	background-color: var(--t2);
}

.default-color {
	color: var(--s1);
}
